# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      -
        name: Checkout 
        uses: actions/checkout@v2


        
        # Runs the shell command
      - name: Run a multi-line script
        id: v1
        run: |
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          git_branch=${GITHUB_REF#refs/heads/}
          echo "$git_hash"
          echo "$git_branch"
          user=${{ secrets.DOCKER_HUB_USERNAME }}
          echo "$user"
          
          
    
          
          
     # - name: Get Hash
     #   id: hash
     #   run: echo "git_hash=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_HASH

     # - name: Check Hash
     #   run: echo "${{ env.hash }}"

      - name: Declare some vaiable 
        id: vars
        shell: bash
        run: |
         echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
         echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
  
      - name: Another step
        run: |
          echo "Branch: ${{ steps.vars.outputs.branch }}"
          echo "Sha: ${{ steps.vars.outputs.sha_short }}"
          
          
      - name: Run a multi-line script
        run: |
          out=`cat README.md | grep master | awk -F "-" {'print $2'}`
          echo $out
          var1=${{ steps.vars.outputs.sha_short }}
          echo $var1
          echo "${{ steps.vars.outputs.sha_short }}"
          echo "tag = master ${{ steps.vars.outputs.sha_short }}"
          # awk "{sub(/$out/,$var1);print}" README.md > README.md
          sed -i "s/$out/$var1/g" README.md
          cat README.md
          pwd
          echo $(pwd)
          ls 
          
      
      - name: Build & push Docker image
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: vmna11/webserver
          tags: ${{steps.v1.git_hash}}
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: docker run 
        run: docker run -d --name mycontainer -p 8888:8888 vmna11/webserver:"${{steps.v1.git_hash}}"
          
      - name: Run the Action
        uses: devops-infra/action-commit-push@master
        with:
          github_token: "${{ secrets.MY_TOKEN }}"
          commit_message: "Automatic commit"
          
          
          

          
       

          
  
          
     
     

    
